.products{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#bdd596;
    border-radius: 5px;

}
.d-block {
    display: block !important;
    height: 300px;
  }
.card{
    width: 300px;
    height: 385px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 124px 20px;
    background-color: white;
}
.card-image{
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    display: block;
    object-fit: cover;

}
.product-name{
    text-transform: uppercase;
    margin: 10px 0px;
}
.product-price{
    margin: 10px 0px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
}
.product-add-button{
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:#647986;
    color: white;
    width: 68%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: -35px auto;

}
.product-add-button:hover{
    background-color: rgb(71, 107, 72);

}
.product-add-button:active{
    transform: translateY(2px);
}

