/* Default styles for larger screens */
.Home-page img {
    height: 100%;
    width: 100vw;
    position: sticky;
    opacity: 40%;
}

.Home-page h1 {
    position: fixed;
    font-family: 'Calibri', sans-serif;
    font-size: 4rem;
    color: #d35f5f;
    padding-left: 29px;
    margin: 86px;
}


@media (max-width: 360px) {
    .Home-page img {
        width: 100%; 
        opacity: 100%; 
    }

    .Home-page h1 {
        font-size: 2rem; 
        padding-left: 10px;
        margin: 86px;
    }
}
